/*? Global */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
}

p{
    line-height: 2;
}

h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: relative;
    font-size: 30px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 15px;
}



/*? Utilities */

.title{
    font-size: 24px;
    font-weight: bold;
}

.btn{
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn-read-more{
    background-color: black;
    color: white;
    width: 120px;
}

.btn-more-info{
    background-color: saddlebrown;
    color: white;
    width: 170px;
}

/*? Header */
.header-init{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 350px;
    color: white;
    text-align: center;
}

.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.menu a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.blog-item{
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
}

.course-item{
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
}

/*? Main */
.main-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.blog-container{
    width: 70%;
    margin-right: 20px;
}

.courses-container{
    width: 30%
}

.courses h3, span{
    font-weight: bold;
    line-height: 3;
}

.courses h2{
    text-align: left;
    font-weight: bold;
}

/*? About */
.main-about-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

}

.about-container{
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.about-text{
    width: 50%;
    margin-right:20px ;
}

.about-item{
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
}
